.full-background-image {
    background-size: cover !important;
} 

#title-container h1,
#title-container h4 {
	text-shadow: 1px 1px 1px #000;
}

main {
	background: #fff none repeat scroll 0 0;
	padding-top: 20px;
}

footer {
	background: #DFE2D2 none repeat scroll 0 0;
	margin-top: 0;
}

.widget {
	background: transparent;
	padding: 0px;
}

.widget div.recent-posts {
    display: inline-block;
    float: left;
    padding: 10px 5px 10px 0;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
}

.widget .menu li a {
    padding: 0px 0;
}

.blog-img,
.blog2-img {
    padding: 10px;
}

.widget div.recent-posts img {
    height: 50px;
    width: 50px;
}

h2.widget-title {
	font-size: 1em;
}

/* search button */
.widget input[type="text"] {
    border: 1px solid #258039;
}

.widget #searchsubmit:hover {
	background-color: #fff;
	color: #258039;
	border: 1px solid #258039;
}

.homecopy {
	padding: 50px 150px;
}

.widget {
	float: none;
	display: 	block;
}

.left-footer-copy {
	padding-bottom: 10px;
}

.footer-social > .header-social-container {
    position: relative;
    padding: 25px 15px;
}

/* positions video hack correctly */
#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

/* transparency of pattern image on homepage */
#linearBg1, #linearBg2 {
	opacity: .3;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'Bree Serif', serif;
}

body,
p, span {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.main-menu ul {
	padding-top: 15px;
}

.main-menu > div > ul > li > a {
	font-weight: 600;
}

.address-container {
    bottom: 0;
    left: 0;
    margin-top: 20px;
    opacity: 0.8;
    padding: 10px 20px 20px;
    position: relative;
    right: 0;
    text-align: center;
    width: 70%;
    z-index: 999999999;
}

.single-portfolio-features li {
    line-height: 80px;
    width: 60px;
    height: 60px;
}

@media (max-width: 767px) {
	.center-logo {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	}
	
	.homecopy {
		padding: inherit;
	}
	
	.main-menu ul {
    padding-top: 0;
}
}

/* @media (min-width: 1200px), 
	(min-width: 992px) and (max-width: 1199px)
	@media (min-width: 768px) and (max-width: 991px)
	@media (max-width: 767px)
*/

@media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
	.home-service {
    margin-bottom: 10px;
	}
	
	.home-service .service-info {
    height: auto;
    padding: 10px;
	}
	
	.home-service .service-photo {
    margin-bottom: -20px;
	}
	
	.home-service .icon {
    color: #fff;
    margin-top: -30px;
    position: relative;
    width: 100%;
	}
	
	.service-photo {
    border-radius: 50%;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    float: left;
    width: 100px;
	}
	
	.service-info h3 {
		text-align: left;
		margin-top: 30px;
	}
}

/* portfolio page */

.partner-item-info {
	width: 100%;
}

.pattern-container:hover .pattern {
    opacity: .95;
}

.blog-filters {
	height: auto;
	margin-bottom: 10px;
}

.portfolio.pattern p.smaller-p {
	text-transform: uppercase;
}

.portfolio.pattern p {
	text-transform: none;
}

.portfolio.pattern p a.more-link {
	text-transform: lowercase;
	display: block;
	padding-top: 10px;
}

h4.light > a,
.portfolio.pattern p a.more-link span {
	color: #258039;
}

/* client page */
p#breadcrumbs {
	margin-left: 15px;
}

#blog2-container > p#breadcrumbs {
	margin-left: 0;
}

.slides-container {
	margin-bottom: 20px;
}

h3.light.tight {
	margin-top: 0
}

.col-xs-12.col-sm-12.col-md-4.col-md-push-8,
.slides-container {
/*	border-top: 1px solid #cccccc; */
	margin-top: 20px;
	padding-top: 20px;
}

